@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./assets/fonts/Lato-Light.ttf');
}

/* Singolo 1 */

body, html {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
}

/* header */

.header {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    max-height: 89px;
    background-color: #2d303a;
    z-index: 3;
}

.wrapper {
    margin: 0 auto;
    margin-top: -15px;
    width: 100%;
    max-width: 940px;
}

.h1 {
    /* size */
    max-width: 115px;
    max-height: 20px;
    /* shift */
    position: relative;
    top: 30px;
    /* font */
    font-family: "Lato";
    font-size: 23px;
    letter-spacing: 0.25pt;
    color: #ffffff;
    overflow: visible;
}

.asterisk {
    color: #f06c64;
}

.list {
    border: 1px solid #2d303a;
    margin-left: 15px;
    margin-right: 2px;
    padding: 5px;
    /* shift */
    position: relative;
    top: 0px;
    left: 507px;
    /* font */
    font-family: "Lato";
    font-size: 12px;
    color: #494e62;
    letter-spacing: 0.01pt;
    float: left;
}

.list_colored {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    /* color: #ffffff; */
}

.clicked_nav {
    color: white;
}

.navigation a:hover {
    color: #f06c64;
}

.header-bottom {
    background-color: #323746;
    width: 100%;
    height: 6px;
    position: relative;
    top: 59%;
}

/* slider */

.all {
    height: 600px;
    position: relative;
    top: 96px;
    scroll-margin-top: 96px;
}

/* arrow block */

.arrow_button_slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    left: 3.8%;
    height: 594px;
    align-items: center;
}

.arrow {
    border: solid #ca4549;
    border-width: 0 5px 5px 0;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 5px;
    border-radius: 2px;
}

.wrapper_arrow_left {
    z-index: 5;
    /* margin-left: 42px; */
}

.arrow_left {
    left:4px;
    transform: rotate(135deg);
}

.wrapper_arrow_right {
    z-index: 5;
    /* margin-right: 42px; */
}

.arrow_right {
    right: 2px;;
    transform: rotate(-45deg);
}

/* slider */

.slider {
    height: 100%;
    /* background-color: #f06c64; */
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 99%;
    position: relative;
}

.background:first-child {
    position: absolute;
    left: -1020px;
}

.background:last-child {
    position: absolute;
    right: -1020px;
}

.background:nth-child(2) {
    position: absolute;
}

.background_red {
    background-color: #f06c64;
}

.background_blue {
    background-color: #648BF0;
}

.main_wrapper {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blue_main_wrapper {
    justify-content: center;
    z-index: 4;
}

.overlay_blue {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.6;
    background-color: #648BF0;
}

.iphone {
    border-radius: 28px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 16px;
}

.h_iphone {
    transform: rotate(90deg);
    /* right: 62px; */
    right: 6%;
}

.v_iphone {
    /* right: 85px; */
    right: 8.3%;
}

.wrapper_iphone {
    border-radius: 28px;
    width: 215px;
    height: 458px;
    background-color: #f2f2f2;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head_iphone {
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: -10px;
}

.outer_circle_cam {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 50%;
    position: relative;
}

.inner_circle_cam {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #eb5055;
}

.speaker_iphone {
    width: 360%;
    height: 5px;
    background-color: #acacac;
    border-radius: 3px;
}

.screen_layout {
    width: 88%;
    height: 73%;
    background-color: black;
    border: 2px solid #c6c6c6;
    top: 12px;
    position: relative;
    left: 1px;
}

.h_screen_layout {
    background: url('./assets/images/h_screen_layout.png') center no-repeat;
    transform: rotate(-90deg);
    /* width: 337px; */
    width: 179%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75px;
}

.v_screen_layout {
    background: url('./assets/images/v_screen_layout.png') center no-repeat;
    width: 100%;
    height: 100%;
}

.home_button {
    position: relative;
    top: 20px;
}

.v_home_button {
    top: 20px;
}

.h_home_button {
    top: 18px
}

.home_button_outer_circle {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #fafafa;
}

.home_button_inner_circle {
    width: 40%;
    height: 40%;
    border: 2px solid #c2c2c2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.large_iphone_center {
    right: 0;
}

.large_screen_layout {
    background-image: url('./assets/singolo_dom/image_large_iphone/iphone-vertical-display.png');
}

.little_iphone_left {
    height: 298px;
    width: 140px;
    right: 0;
    z-index: 1;
}

.little_wrapper_pnone {
    height: 298px;
    width: 140px;
    border-radius: 19px;
}

.little_head_iphone {
    height: 16px;
}

.little_screen {
    height: 216px;
    width: 122px;
}

.little_screen_layout {
    background-image: url('./assets/singolo_dom/image_little_iphone/iphone-vertical-display.png');
}

.little_outer_circle {
    height: 6px;
    width: 6px;
}

.little_inner_circle {
    height: 3px;
    width: 3px;
}

.little_speaker_iphone {
    width: 23px;
    height: 3px;
}

.little_home_button {
    width: 27px;
    height: 27px;
    top: 14px;
}

.little_home_button_outer_circle {
    width: 27px;
    height: 27px;
}

.little_home_button_inner_circle {
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.little_shadow {
    height: 314px;
    width: 156px;
    background-image: url('./assets/singolo_dom/image_little_iphone/iphone-vertical-shadow.png');
}

.shadow {
    top: 0;                    
    position: absolute;
    z-index: 1;
}

.v_shadow {
    left: 0;
    /* width: 240px;
    height: 483px; */
    width: 111%;
    height: 105%;
    background-image: url('./assets/images/v_iphone_shadow.png');
}

.h_shadow {
    /* width: 483px;
    height: 240px; */
    width: 224%;
    height: 240px;
    transform: rotate(90deg);
    top: 96px;
    left: -122px;
    background-image: url('./assets/images/h_iphone_shadow.png');
}

.slider_bottom {
    width: 100%;
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    top: 100%;
}

/* service */

.service {
    width: 100%;
    min-height: 496px;
    background-color: #f2f2f2;
    scroll-margin-top: 96px;
    position: relative;
    top: 96px;
}

.service_footer {
    height: 100%;
}

.service_wrapper {
    width: 100%;
    max-width: 940px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}  

.h2_service {
    font-family: 'Lato-Black';
    margin-top: 73px;
    font-size: 30px;
    margin-bottom: 18px;
    letter-spacing: -1px;
}

.p_service {            
    font-family: 'Lato-Light';
    font-size: 13pt;
    line-height: 29px;
    text-align: justify;
    letter-spacing: 0.1pt;
}

.wrapper_support {
    display: grid;
    position: relative;
    margin-top: -4px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;            
    top: 34px;
    row-gap: 31px;
    column-gap: 20px;
}

.service_circle {            
    min-width: 59px;
    min-height: 59px;
    max-width: 59px;
    max-height: 59px;
    background: url('./assets/images/Ellipse.png') no-repeat center;
    position: relative;
}

.pen {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/pen.png') no-repeat center;
    position: absolute;
}

.lamp {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/lamp.png') no-repeat center;
    position: absolute;
}

.heart {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/heart.png') no-repeat center;
    position: absolute;
}

.serv_iphone {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/iphone.png') no-repeat center;
    position: absolute;
}

.bubble {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/bubble.png') no-repeat center;
    position: absolute;
}

.star {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('./assets/images/star.png') no-repeat center;
    position: absolute;
}   

.item_service h4 {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -2px;
}

.text_service {
    font-family: 'Lato-Regular';            
    text-align: justify;
    width: 220px;
    height: 52px;
    font-size: 12px;
    line-height: 22px;
}

.service_description {
    margin-left: 20px;
}

.item_service {
    text-align: justify;
    width: 300px;
    display: flex;
    line-height: 19px;
    overflow: hidden;
}

.footer-bottom {
    width: 100%;
    background-color: #ffffff;
    height: 6px;
    top: 100%;
    /* position: relative; */
    position: absolute;
}

/* Singolo 2 */

/* portfolio */

.portfolio {
    width: 100%;
    height: 864px;
    background-color:#2d303a;
    /* shift */
    scroll-margin-top: 96px;
    position: relative;
    top: 102px;
}

.wrapper__portfolio {
    margin: 0 auto;
    width: 940px;
}

.title_portfolio {
    margin-top: -2px;
    padding-top: 59px;    
    margin-bottom: 18px;
    font-size: 29px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;       
}

.title_description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light", sans-serif;;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 0;
}

.tags {
    margin-left: 1px;
    margin-top: 11px;
}

.tag {
    color: #767e9e;
    background-color: #2d303a;
    /* border */
    border-radius: 5px;
    border: 1px solid #666d89;
    /* fonts */
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    /* shift */
    text-align: center;
    margin-right: 10px;
}

.tag_1 {
    padding: 0 6px 0 7px;
    float: left;
}

.tag_2 {
    padding: 0 6px 0 6px;
    float: left;    
}

.tag_3 {
    padding: 0 6px 0 5px;
    float: left;
}

.tag_4 {
    padding: 0 6px 0 5px;
}

.tag_1:hover,
.tag_2:hover,
.tag_3:hover,
.tag_4:hover {
    color: #dedede;
    border: 1px solid #dedede;
    transition: 500ms ease-in-out;
    box-shadow: 0px 0px 2px 1px #767e9e;
    cursor: pointer;
}

.portfolio__grid {
    margin-top: 19px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    row-gap: 17px;
    column-gap: 17px;
    height: 600px;
    overflow: hidden;
}

.portfolio__picture {
    width: 220px;
    height: 187px;       
}

.portfolio__picture img {
    width: 100%;
    height: 100%;
}

.portfolio__picture img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
}

.bottom-portfolio {
    background-color: #323746;;
    width: 100%;
    height: 6px;
    position: relative;
    top: 7.8%;
}

/* about */

.about-us {
    width: 100%;
    height: 728px;
    background-color: #f2f2f2;
    /* shift */
    scroll-margin-top: 96px;
    position: relative;
    top: 108px;
}

.wrapper__about {
    margin: 0 auto;
    width: 940px;
}

.title_about {
    margin-top: 0px;
    margin-bottom: 18px;
    padding-top: 58px;
    font-size: 29px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.title_description_about_1 {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light", sans-serif;;
    font-weight: 300;
    letter-spacing: 0.008em;
    margin: 0;
}

.title_description_about_2 {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light", sans-serif;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 0;
}

/* avatars */

.adam__avatar {
    grid-area: ava1;
}

.desmond__avatar {
    grid-area: ava2;
}

.scolara__avatar {
    grid-area: ava3;
}

/* names */

.adam__name {
    grid-area: name1;
}

.desmond__name {
    grid-area: name2;
}

.scolara__name {
    grid-area: name3;
}

/* accounts */

.adam__accounts {
    grid-area: acc1;
}

.desmond__accounts {
    grid-area: acc2;
}

.scolara__accounts {
    grid-area: acc3;
}

/* grid about container */

.about__content {
    margin-top: 45px;
    display: grid;
    grid-template: 300px 1fr 1fr/ 300px 300px 300px;
    column-gap: 20px;
    grid-template-areas: 
                        'ava1 ava2 ava3' 
                        'name1 name2 name3' 
                        'acc1 acc2 acc3';
}

.avatar img{
    /* width: 300px;
    height: 300px; */
    width: 100%;
    height: 100%;
}

.name__people {
    max-height: 22px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: -0.02em;
}

.adam__description__1 {
    margin-top: 7px;
    margin-bottom: -1px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.017em;
}

.adam__description__2 {
    margin-top: 0px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.01em;
}

.desmond__description__1 {
    margin-top: 7px;
    margin-bottom: -1px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.001em;
}

.desmond__description__2 {
    margin-top: 0px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.013em;
}

.scolara__description__1 {
    margin-top: 7px;
    margin-bottom: -1px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: 0em;
}

.scolara__description__2 {
    margin-top: 0px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.011em;
}

.social {
    margin-top: 11px;
    padding-left: 1px;
}

.social li {
    margin-right: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.social li:hover {
    transition: all 150ms ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.facebook_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/f.png');
}

.google_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/g.png');
}

.twitter_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/t.png');
}

.linkedin_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/l.png');
}

.bottom-about {
    background-color: #f2f2f2;
    width: 100%;
    height: 6px;
    position: relative;
    top: 11px;    
}

/* Singolo 3 */

/* contact */

.quote {
    width: 100%;
    height: 648px;
    background-color: #f06c64;
    /* shift */
    scroll-margin-top: 96px;
    position: relative;
    top: 121px;
}


.bottom-quote {
    height: 6px;
    background-color: #ea676b;
    position: relative;
    top: 121px;
}

.quote h2 {
    margin-top: 5px;
    padding-top: 61px;
    margin-bottom: 21px;
    font-size: 29px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: -0.005em;
}

.title-description-1 {
    margin-bottom: 7px;
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    letter-spacing: 0.008em;
}

.title-description-2 {
    margin: 0px;
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    letter-spacing: 0.0em;
}

.layout-2-column {
    margin-top: 48px;
    display: grid;
    /* grid-template: 365px / 620px auto; */
    grid-template: auto / 66% 34%;
    column-gap: 20px;
}

.contact__form {
    width: 100%;
}

.contact__info {
    width: 100%;
}

input {
    margin: 0px 0px 15px -1px;
    padding: 5px 15px;
    width: 590px;
    height: 29px;
    /* design */
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    font-size: 12px;
    color: #f48c8f;
    font-family: "Lato";
    letter-spacing: -0.01em;
}

textarea {
    margin: 0px 0px 15px -1px;
    padding: 10px 15px;
    width: 590px;
    height: 183px;
    /* design */
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    font-size: 12px;
    color: #f48c8f;
    font-family: "Lato";
    letter-spacing: -0.01em;
}

.contact__button {
    text-align: center;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #f0d8d9;
}

.button:hover {
    cursor: pointer;
    transition: 500ms ease-in-out;
    background-color: turquoise;
    box-shadow: 0px 0px 2px 1px black;
}

.button_colored {
    background-color: #f0d8d9;
}

.contact__info h4 {
    margin-top: -1px;
    font-size: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: -0.019em;
}

.info-description-1 {
    margin-top: -14px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: -0.013em;
}

.info-description-2 {
    margin-top: -6px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: -0.01em;
}

.info-description-3 {
    margin-top: -5px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: 0.004em;
}

.info-description-4 {
    margin-top: -5px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    letter-spacing: -0.013em;
}

.info-description-tablet {
    display: none;
}

.ico__info {
    padding-top: 9px;
    padding-left: 17px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
}

.ico {
    padding-left: 5px;
}

.ico_geo {
    list-style-image: url('./assets/singolo3/geo.png');
}

.ico_iphone {
    list-style-image: url('./assets/singolo3/iphone.png');
}

.ico_letter {
    list-style-image: url('./assets/singolo3/letter.png');
}

.decoration {
    text-decoration: none;
    color: #f0d8d9;
}

/* footer */

footer {
    height: 76px;
    background-color: #2d303a;
    position: relative;
    top: 136px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.logo__footer {
    margin-top: 28px;
}

.copyright {
    font-size: 12px;
    color: #666d89;
    font-family: "Lato";
    letter-spacing: -0.01em;
}

.accounts__footer {
    margin-top: 23px;
    margin-right: -2px;
}

.accounts__footer li {
    margin-right: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.accounts__footer li:hover {
    transition: all 150ms ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.facebook_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/f.png');
}

.google_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/g.png');
}

.twitter_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/t.png');
}

.linkedin_acc {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/singolo2/images/social/l.png');
}

/* JS */

/* navigation bar */
.active {
    color: #29b3dd; 
    transition-duration: 0.5s;
}

/* slider */

.prev_move {
    transform: translateX(-1020px);
    transition-duration: 2s;
}

.prev_move_2 {
    transform: translateX(1020px);
    transition-duration: 2s;
}

.prev_move_0 {
    transform: translateX(0px);
    transition-duration: 2s;
}

.next_move {
    transform: translateX(0px);
    transition-duration: 3s;
}

/* portfolio */

.portfolio_active {
    background-color: blueviolet;
    color: white;
}

.pic_active {
    border: #F06C64 5px solid;
}

/* get a quote */

.hidden__message {
    display: none;
}

.message_block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;    
}

.message_text {
    position: absolute;
    top: 70%;
    left: 35%;
    border: 2px solid rgb(112, 29, 221);
    text-align: center;
    background-color: greenyellow;
    width: 300px;
    height: 150px;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    /* header */

    .header {
        max-width: 768px;
    }
    .wrapper {
        width: 688px;
    }
    .list {
        left: 251px;
    }

    /* slider */

    .all {
        height: 452px;
    }
    .arrow_button_slider {
        width: 688px;
        height: 452px;
        left: 5.1%;
    }
    .wrapper_iphone {
        width: 163px;
        height: 344px;
        border-radius: 18px;
    }
    .head_iphone {
        height: 22px;
        top: 0;
    }
    .h_screen_layout {
        transform: scaleX(0.77) rotate(-90deg);
        left: -56px;
        min-width: 176%;
    }
    .home_button_outer_circle {
        position: relative;
        top: 6%;
        width: 29px;
        height: 29px;
    }
    .home_button {
        top: 13px;
    }
    .v_shadow {
        width: 147%;
        height:140%;
        transform: scale(0.76);
        top: -17%;
        left: -17%;
    }
    .h_shadow {
        width: 296%;
        height: 240px;
        transform: scale(0.76) rotate(90deg);
        top: 11%;
        left: -89%;
    }

    /* service */
    
    .service {
        height: 674px;
    }
    .wrapper_support {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    /* portfolio */

    .portfolio {
        height: 1102px;
    }
    .portfolio__grid {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
        height: 811px;
    }
    .about__content {        
        grid-template-rows: 218px 1fr 1fr;
        grid-template-columns: 218px 218px 218px;                    
    }

    /* quote */

    input {
        width: 422px;
    }
    textarea {
        width: 422px;
        height: 159px;
    }
    .info-description-1,
    .info-description-2, 
    .info-description-3,
    .info-description-4 {
        display: none;
    }
    .info-description-tablet {
        display: inline;
        font-size: 12px;
        color: #f0d8d9;
        font-family: "Lato";
        letter-spacing: 0.004em;
    }

}
